# Fuerza CRLF al almacenar en el repo
* text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.svg -text
*.docx binary
*.pdf binary
*.pkl binary
*.zip binary
*.tar binary
*.dump binary
*.csv -text
